<div class="columns">
  <div class="column is-6">
    <label class="label">KEY:</label>
    <input class="input" name="key" type="text">
  </div>
  <div class="column is-6">
    <label class="label">VALUE:</label>
    <input class="input" name="value" type="text">
  </div>
</div>
