<div>
  <div class="columns">
    <div class="column is narrow">
      <label class="checkbox">
        <strong>SHOW ONLY ACTIVE USERS</strong>
        <input type="checkbox">
      </label>
    </div>
  </div>
  <div class="columns">
    <div class="column is-6">
      <label class="label">KEY:</label>
      <input class="input" type="text">
    </div>
    <div class="column is-6">
      <label class="label">VALUE:</label>
      <input class="input" type="text">
    </div>
  </div>
</div>