<h1> Settings </h1>
<%= form_for :key_values, Routes.old_settings_path(@conn, :update), fn f-> %>
  <%= for setting <- @settings do %>
    <p>
      <br>
      <%= label do humanize(setting.key) end %>
      <br>
      <%= text_input f, String.to_atom(setting.key) , value: setting.value %>
      <br>
    </p>
  <% end %>
  <%= submit "Save" %> 
<% end %>


