<h1>API Token</h1>
<p>Use the button below to generate an API token.</p>
<.form let={_f} for={@conn} action={Routes.user_api_token_path(@conn, :create)}>
  <div>
    <%= submit "Generate Token" %>
  </div>
</.form>