<%= render(SiwappWeb.LayoutView, "nav.html", socket_or_conn: @conn) %>
<main class="container section has-navbar-fixed-bottom">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
