<%= render(SiwappWeb.LayoutView, "nav.html", socket_or_conn: @conn) %>
<main class="container section has-navbar-fixed-bottom">
  <%= if msg = get_flash(@conn, :info) do %>
    <p class="alert alert-info" role="alert">
      <%= msg %>
    </p>
  <% end %>

  <%= if msg = get_flash(@conn, :error) do %>
    <p class="alert alert-danger" role="alert">
      <%= msg %>
    </p>
  <% end %>

  <%= @inner_content %>
</main>
