<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Siwapp", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script src="https://kit.fontawesome.com/138af46218.js" crossorigin="anonymous"></script>
  </head>

  <body class="has-navbar-fixed-top content" >
    <%= if @current_user do %>
      <nav class="navbar is-fixed-top"  role="navigation" aria-label="main navigation">
        <div class="navbar-brand ">
          <%="/images/logo.svg"
              |> img_tag()
              |> link(to: Routes.page_path(@conn, :invoices), class: "navbar-item")
          %>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            <%= live_redirect "Invoices", to: Routes.page_path(@conn, :invoices), class: "navbar-item" %>
            <a class="navbar-item">
              Recurring Invoices
            </a>
            <%= live_redirect "Customers", to: Routes.customer_index_path(@conn, :index), class: "navbar-item" %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Account
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Profile
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Global Settings
                </a>
                <hr class="navbar-divider">
                <%= live_redirect "Series", to: Routes.series_index_path(@conn, :index), class: "navbar-item" %>
                <%= live_redirect "Taxes", to: Routes.taxes_index_path(@conn, :index), class: "navbar-item" %>
                <a class="navbar-item">
                  Templates
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Hooks
                </a>
                <hr class="navbar-divider">
                <div class="navbar-item">
                  <%= render "_user_menu.html", assigns %>
                </div>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <a class="button is-primary">
                <strong>New Invoice</strong>
              </a>
            </div>
          </div>
        </div>
      </nav>
    <% end %>
    <%= @inner_content %>
  </body>
</html>