<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Welcome", prefix: "Siwapp - " %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script src="https://kit.fontawesome.com/138af46218.js" crossorigin="anonymous"></script>
  </head>

  <body class="has-navbar-fixed-top content" >
    <%= if @current_user do %>
      <nav class="navbar is-fixed-top"  role="navigation" aria-label="main navigation">
        <div class="navbar-brand ">
          <%=
            img_tag(Routes.static_path(@conn, "/images/logo.svg"))
            |> link(to: Routes.invoices_index_path(@conn, :index), class: "navbar-item")
          %>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            <%= link "Invoices", to: Routes.invoices_index_path(@conn, :index), class: "navbar-item" %>
            <a class="navbar-item">
              Recurring Invoices
            </a>
            <%= link "Customers", to: Routes.customer_index_path(@conn, :index), class: "navbar-item" %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Account
              </a>
              <div class="navbar-dropdown">
                <%= link "Profile", to: Routes.user_settings_path(@conn, :edit), class: "navbar-item" %>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Global Settings
                </a>
                <hr class="navbar-divider">
                <%= link "Series", to: Routes.series_index_path(@conn, :index), class: "navbar-item" %>
                <%= link "Taxes", to: Routes.taxes_index_path(@conn, :index), class: "navbar-item" %>
                <%= link "Templates", to: Routes.templates_index_path(@conn, :index), class: "navbar-item" %>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Hooks
                </a>
                <hr class="navbar-divider">
                <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "navbar-item" %>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <%= shared_button(@conn) %>
            </div>
          </div>
        </div>
      </nav>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
