/* This file is for your main application CSS */
@import "./phoenix.scss";
@import "./graphic.css";
@import "./multiselect.scss";
@import "bulma";

main.container{
  margin: 1em auto;
}

fieldset.fieldset{
  margin-bottom: 3em;
}

.icon.table-icon{
  display: revert;
  text-align: center;
}

td.table-span:not([align]){
  text-align: center;
}

@media screen and (max-width: 600px) {
  .columns.is-multiline-mobile{
    display: flex;
    flex-wrap: wrap;
  }

  .navbar-mobile{
    position: fixed;
    z-index: 30;
    bottom: 0;
  }
}