/* This file is for your main application CSS */

@import "./phoenix.scss";
@import "./graphic.css";
@import "./multiselect.scss";
@import "bulma";
main.container {
  margin: 1em auto;
}

fieldset.fieldset {
  margin-bottom: 3em;
}

.icon.table-icon {
  display: revert;
  text-align: center;
}

td.table-span:not([align]) {
  text-align: center;
}

.iframe.template {
  width: 770px;
  height: 1090px;
  border: 2px solid #ced4da;
}

.search-input {
  display: flex;
}

.search-menu {
  position: absolute;
  top: 2.9rem;
  background-color: #f8f9fa;
  width: 210%;
}

.search-menu-content {
  border: 1px solid #ced4da;
  padding: 1rem;
  display: none;
}

.search-menu-content label{
  font-size: 14px;
}

.search-menu-content .buttons{
  margin-top: 0.5rem;
}

.search-menu-content label{
  font-size: 14px;
}

.search-menu-content .buttons{
  margin-top: 0.5rem;
}

p.control.has-dropdown {
  margin-bottom: 0px;
}

.input-with-dropdown {
  display: grid;
}

.input:focus-within+.dropdown.below-input,
.dropdown.below-input:hover {
  display: block;
  position: static;
  max-width: 100%;
  width: 100%;
}

.dropdown.below-input {
  display: none;
}

.below-input .dropdown-content {
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 0px;
  max-width: 100%;
  width: 100%;
}

.card.card-header:hover {
  background-color: #fafafa;
}

.search-menu-content .buttons{
  margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
  .columns.is-multiline-mobile {
    display: flex;
    flex-wrap: wrap;
  }
  .navbar-mobile {
    position: fixed;
    z-index: 30;
    bottom: 0;
  }
}