<h1> New Customer </h1>

<.form let={f} for={@changeset} phx-change="validate" phx-submit="save">
  <%= checkbox(f, :active, value: true) %> This customer is active

  <%= live_component SiwappWeb.CustomerLive.FormComponent, f: f %>
  <%= live_component SiwappWeb.MetaAttributesLive.FormComponent, f: f %>
  <%= submit "Save" %>
  <!-- in future we will redirect to customer listing -->
  <%= live_patch "Back", to: Routes.live_path(@socket, SiwappWeb.NewCustomerLive) %>
</.form>

