<h1> Global Settings </h1>
<%= form_for :key_values, Routes.global_settings_path(@conn, :update), fn f-> %>
  <%= for global_setting <- @global_settings do %>
    <p>
      <br>
      <%= label do global_setting.key end %>
      <br>
      <%= text_input f, global_setting.key , value: global_setting.value %>
      <br>
    </p>
  <% end %>
<%= submit "Save" %>
<% end %>
